/* import other css files from this same folder */
@import url("switches.css");


:root {
  /* Backgrounds */
  --main-bg-color: #111B21;
  --secondary-bg-color: #1E2A30;
  /* Borders */
  --main-border-color: #374045;
  /* Main colors */
  --primary-color: #EA879D;
}

body {
  position: relative;
  width: 15rem;
  align-items: stretch;
  margin: 0 auto;
  box-sizing: content-box;
  display: flex;
  flex-direction: column;
  background: var(--main-bg-color);
  color: #fff;
  border: 2px solid var(--main-border-color);
}

header {
  display: flex;
  padding: 1rem;
  flex-direction: row;
  gap: .5rem;
  justify-content: space-between;
  align-items: center;
  background-color: var(--secondary-bg-color);
  transition: all .3s ease-in-out;
}

h1 {
  font-size: 1.25rem;
  font-weight: 300;
  margin: 0;
}

.main-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
}

.main-content span {
  font-size: 1rem;
  font-weight: 300;
  margin: 0;
}

.configs {
  opacity: 0.7;
  filter: blur(1px) grayscale(.7);
  display: flex;
  flex-direction: column;
  padding: 0 .5rem;
  transition: all .3s ease-in-out;
  pointer-events: none;
  user-select: none;
}

.configs.active {
  opacity: 1;
  filter: blur(0) grayscale(0) !important;
  pointer-events: all;
  user-select: all;
}

.configs h2 {
  font-size: 1rem;
  font-weight: 500;
  margin: 0;
  margin-bottom: .5rem;
}

.configs .config {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: .5rem 0;
  border-top: 1px solid var(--main-border-color);
}

.copyright {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: .5rem;
  font-size: .75rem;
  font-weight: 300;
  margin: 0;
  border-top: 1px solid var(--main-border-color);
}

.copyright span {
  font-weight: 500;
}

.copyright a {
  color: var(--primary-color);
}